html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Arrows start */
body {
  background:#0b1d2a;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* Section 1 */
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%;
  width: auto; height: auto; z-index: -100;
}
#section1{
  min-height: 700px;
  margin-top: 900px;
  background-color: #161415;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: white solid 2px;
}

#section3{
  min-height: 900px;
  background-color: #161415;
}

.container-fluid{
  padding: 0px;
}
.stage-link:hover{
    background-color: #006ba8;
}
section{
  width: 100%;
}

/* Bob */

@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
}
.hvr-icon-bob:before {
  content: "\f077";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-bob:hover:before, .hvr-icon-bob:focus:before, .hvr-icon-bob:active:before {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-icon-bob:hover{

  color: #3cf4d2;
}



.navbar{
  background: #006ba8;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
  background-color: #024c77;
  color: white;
}

.scrollToTop {
   position:fixed;
   top : 90%;
   right: 5%;
   z-index: 1000000;
   color: white;
   transition: 0.3s;
}

.separator{
  clear: both;
}
/* Effet de survol */
figure.effect-sadie figcaption::before{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:-webkit-linear-gradient(top,rgba(72, 76, 97, 0) 0,rgba(77, 125, 119, 0.8) 75%);content:'';
  opacity:0;
  transform:translate3d(0,50%,0);
  transform:translate3d(0,50%,0);
}
figure.effect-sadie h2{
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  color:#006ba8;
  background-color: rgba(#000000, 0.4);
  transition: transform .35s,color .35s;
  transition:transform .35s,color .35s;
  transform:translate3d(0,-50%,0);
  transform:translate3d(0,-50%,0);
}
figure.effect-sadie figcaption::before,figure.effect-sadie p{
  transition:opacity .35s, transform .35s;
  transition:opacity .35s,transform .35s;
}
figure.effect-sadie p{
  position:absolute;bottom:0;
  left:0;
  padding-bottom: 100px;
  width:100%;
  opacity:0;
  transform:translate3d(0,10px,0);
  transform:translate3d(0,10px,0);
}
figure.effect-sadie:hover h2{
  color:#fff;
  transform:translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform:translate3d(0,-50%,0) translate3d(0,-40px,0);}
figure.effect-sadie:hover figcaption::before,figure.effect-sadie:hover p{
  opacity:1;
  transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.grid{
  position:relative;
  list-style:none;
  text-align:center;
  float: left;
}
.grid figure{
  position:relative;
  float:left;
  overflow:hidden;
  width: 100%;
  height: 850px;
  text-align:center;
}
.grid figure img{
  position:relative;
  display:inline;
  min-height:100%;
  max-width:100%;
  opacity:0.8;
}
.grid figure figcaption{
  color:#fff;
  text-transform:uppercase;
  font-size:20px;
  backface-visibility:hidden;
  backface-visibility:hidden;
}
.grid figure figcaption,.grid figure figcaption>a{
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.grid figure figcaption>a{
  z-index:1000;
  text-indent:200%;
  white-space:nowrap;
  font-size:0;
  opacity:0;
}
.grid figure h2{
  word-spacing:-2px;
  font-weight:300;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
.grid figure h2 span{
  font-weight:800;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
.grid figure h2,.grid figure p{
  margin:0;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
.grid figure p{
  letter-spacing:1px;
  font-size:68.5%;
}

/*timeline */

.timeline time{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 27px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #FFF;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #44aaaa;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 8px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #44aaaa transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -440px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #44aaaa;
}
.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #fff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.timeline a{
  color: white;
  text-decoration: none;
}

/*Timeline sm et xs */

.timeband{
  background-color: #44aaaa;
  padding: 15px;
}
.timeband a{
  color: white;
}
.timeband{
  list-style-type: none;
}

/* COmpétences */

.skills-items{
  display:inline-block;
  padding:12px;
  /* height:44px; */
  width:100%;
  vertical-align:top;
  background:#444444;
  box-shadow:1px 1px 1px 0px rgba(0,0,0,.2);
  color:#FFFFFF;
  margin-bottom:24px;
  margin-right:3%;
  border-radius:2px;
  cursor:pointer;
  border-left:4px solid #444444;
  transition:all 250ms ease-in-out;
}
.skills-items:hover{
  border-left:4px solid #19e7da;
  transition:all 250ms ease-in-out;
}
#section3 h2{
  text-align: center;
}
.modal-content{
  background: white;
  border-radius: 0px;
  color: black;
}
.close{
  color: black;
}
.modal-header h3{
  font-family: 'Montserrat';
  font-weight: bolder;
}
.modal-body p{
  font-family: 'Montserrat', sans-serif;
}

.cadrephoto{
  border: solid 2px white;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: -70px;
  left: -100px;
  background-image: url('../img/photo_cv.jpg');
  background-position:top;
  background-size: cover;
  z-index: 10;
}

@media screen and (min-width: 200px) and (max-width: 639px) {
  .cadrephoto{
    left: 25%;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .cadrephoto{
    left: 45%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .cadrephoto{
    left: 50%;
  }
}
.grade{
  padding-top: 50px;
  text-align: center;
}
.grade h1{
  font-size: 50px;
  font-family: 'Lobster', sans-serif;
}
.web{
  font-family: 'Lobster', cursive;
}
.junior{
  margin-top: 0
}

blockquote {
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Raleway', cursive;
  text-align: center;
}

.describ{
  margin-top: 50px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 5% auto 5%;
}
.describ-text{
  width: 90%;
}
.describ-contact{
  text-overflow: clip;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 3px solid white;
  margin: 5%;
  padding: 3%;
  max-height: 200px;
}


.PixelEtCicero{
    background-image: url(../img/messaggio.PNG);
    width: 550px;
    background-size: cover;
    margin-right: 20px;
    margin-top: 50px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}




/* Layout Styles */
.section5{
  background-color: #161415;
  padding-top: 5%;
}
.section5 img{
  height: 300px;
  width: 300px;
}
.card-list {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
  height: 400px;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #006ba8;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}

footer{
  margin-top: -10px;
  display: flex;
  background-color: black;
  justify-content: center;
}
.footerImg{
  height: 50px;
  width: 50px;
}








/* Projets */

/* slider */
.wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 40em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-seat {
  background: #ddd;
  flex: 1 0 100%;
  order: 2;
}

.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}

@media (min-width: 30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}

@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref {
  order: 1;
}
.tl-content p{
  font-size: 90%;
}

h2 {
  font-size: 32px;
}

#prev {
  position: absolute;
  background-color: white !important;
  background-image: url('../img/left-arrow.png') !important;
  background-size: cover !important;
  height: 30px;
  width: 30px;
  left: 1%;
}

#next {
  position: absolute;
  background-color: white !important;
  background-image: url('../img/right-arrow.png') !important;
  background-size: cover !important;
  height: 30px;
  width: 30px;
  right: 1%;
}

#section4 button {
  background: #aaa;
  border: 0;
  border-radius: 0.25em;
  color: #eee;
  padding: 0.5em 1em;
}

#section4 button:hover,
#section4 button:focus {
  background: orange;
}
/*fin slider */

#section4{
  background-color: #000;
  display: flex;
  align-items: center;
}
.titreProjet{
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}

#timelineProjets {
  display: flex;
  background-color: #031625;
}
.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  /*background: rgb(0, 74, 117);*/
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 100% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}
.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}
.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.728rem;
  line-height: 0;
}
.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

/* //Projets small */
.col-md-6 img {
  display: block;
  max-width: 100%;
}
#section4 .container{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  width: screen;
}

.listHeading {
  background-color: #44aaaa;
  margin: 0;
  padding: 0;
  height: 45px;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

li > span {
  font-size: 60px;
}

#toggle-view {
  list-style: none;
  font-family: arial;
  background-color: #006ba8;
  font-size: 11px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.panel {
  background-color: #006ba8;
}

#toggle-view li {
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}

#toggle-view h3 {
  margin: 0;
  font-size: 14px;
}

#toggle-view span {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 13px;
}

#toggle-view .panel {
  margin: 5px 0;
  display: none;
}